* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  margin-block-end: 30px;
}

.container {
  background-color: white;
  max-width: 360px;
  margin: auto;
  padding: 20px;
}

.avatar {
  width: 50px;
  border-radius: 50%;
}

h1 {
  color: #1DA1F2;
}

/* Section tweetar */

.twitear {
  display: grid;
  gap: 10px;
  grid-template-columns: 50px auto;
  grid-template-rows: auto auto;
}
.twitear-avatar {
  grid-column: 1 / 2;
}

.twitear-input {
  grid-column: 2 / -1;
  height: 50px;
  resize: none;
  border: none;
  font-size: 20px;
  font-family: inherit;
}

.twitear-btn {
  grid-column: 1 / -1;
  margin-block-start: 20px;
  background-color: #1DA1F2;
  padding: 10px 30px;
  font-size: 20px;
  border: none;
  border-radius: 30px;
  font-weight: 900;
  color: white;
  cursor: pointer;
}
/* Section tweetar fin */

/* Section main tweet feed */
main {
  margin-block-start: 20px;
}
.tweet {
  display: grid;
  grid-template-columns: 50px auto;
  gap: 10px;
  border-top: 1px solid #999;
  padding-block: 20px;
}
.tweet-contenido {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.tweet-interacciones {
  display: flex;
  gap: 5px;
}
.tweet-interaccion {
  width: 25%;
}
.tweet-usuario {
  font-size: 14px;
}
i {
  cursor: pointer;
  color: grey;
}
.ocultar-respuestas {
  display: none;
}
/* Reply bloque */

.reply-bloque {
  border-top: 1px solid #999;
  padding-top: 15px;
}
.reply-btn {
  margin-block-start: 5px;
  padding: 10px 20px;
  font-size: 15px;
  grid-column: 2/-1;
}
.reply-input {
  font-size: initial;
}
.ocultar-reply-bloque {
  display: block;
}